{% extends 'employee/base.html' %}

{% block title %} Employee List {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-2">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Section</th>
                    <th scope="col">Prog Lang</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.age }}</td>
                    <td>{{ employee.sex }}</td>
                    <td>{{ employee.section }}</td>
                    <td>{{ employee.lang }}</td>
                    <td><a href="{% url 'update' employee.pk %}" class="btn btn-success">Edit</a></td>
                    <td><a href="{% url 'delete' employee.pk %}" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'create' %}" class="btn btn-primary">Add Employee</a>
        </div>
    </div>
</div>
{% endblock %}