{% extends 'employee/base.html' %}

{% block title %} Edit Employee {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-4">
            <h2 class="text-center">Edit Employee</h2>
            <form class="form-control p-3" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" class="btn btn-success">
                <a href="{% url 'list' %}" class="btn btn-danger">Back</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}